<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="css/activity.css" />
	</head>
	<body>
		<div id="editor"></div>
		
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="js/ace/ace.js"></script>
		<script>
			var editor = ace.edit("editor");
			editor.setTheme("ace/theme/monokai");
			editor.session.setMode("ace/mode/java");
		</script>
	</body>
</html>