<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/ace/ace.js"></script>
    <script src="/js/ace/ext-beautify.js"></script>
    <script src="/js/ace/ext-elastic_tabstops_lite.js"></script>
    <script src="/js/ace/ext-emmet.js"></script>
    <script src="/js/ace/ext-error_marker.js"></script>
    <script src="/js/ace/ext-keybinding_menu.js"></script>
    <script src="/js/ace/ext-language_tools.js"></script>
    <script src="/js/ace/ext-linking.js"></script>
    <script src="/js/ace/ext-modelist.js"></script>
    <script src="/js/ace/ext-options.js"></script>
    <script src="/js/ace/ext-searchbox.js"></script>
    <script src="/js/ace/ext-settings_menu.js"></script>
    <script src="/js/ace/ext-spellcheck.js"></script>
    <script src="/js/ace/ext-split.js"></script>
    <script src="/js/ace/ext-static_highlight.js"></script>
    <script src="/js/ace/ext-statusbar.js"></script>
    <script src="/js/ace/ext-textarea.js"></script>
    <script src="/js/ace/ext-themelist.js"></script>
    <script src="/js/ace/ext-whitespace.js"></script>
    <script src="/js/ace/keybinding-emacs.js"></script>
    <script src="/js/ace/keybinding-vim.js"></script>
    <script src="/js/ace/mode-abap.js"></script>
    <script src="/js/ace/mode-abc.js"></script>
    <script src="/js/ace/mode-actionscript.js"></script>
    <script src="/js/ace/mode-ada.js"></script>
    <script src="/js/ace/mode-apache_conf.js"></script>
    <script src="/js/ace/mode-applescript.js"></script>
    <script src="/js/ace/mode-asciidoc.js"></script>
    <script src="/js/ace/mode-assembly_x86.js"></script>
    <script src="/js/ace/mode-autohotkey.js"></script>
    <script src="/js/ace/mode-batchfile.js"></script>
    <script src="/js/ace/mode-bro.js"></script>
    <script src="/js/ace/mode-c_cpp.js"></script>
    <script src="/js/ace/mode-c9search.js"></script>
    <script src="/js/ace/mode-cirru.js"></script>
    <script src="/js/ace/mode-clojure.js"></script>
    <script src="/js/ace/mode-cobol.js"></script>
    <script src="/js/ace/mode-coffee.js"></script>
    <script src="/js/ace/mode-coldfusion.js"></script>
    <script src="/js/ace/mode-csharp.js"></script>
    <script src="/js/ace/mode-csound_document.js"></script>
    <script src="/js/ace/mode-csound_orchestra.js"></script>
    <script src="/js/ace/mode-csound_score.js"></script>
    <script src="/js/ace/mode-csp.js"></script>
    <script src="/js/ace/mode-css.js"></script>
    <script src="/js/ace/mode-curly.js"></script>
    <script src="/js/ace/mode-d.js"></script>
    <script src="/js/ace/mode-dart.js"></script>
    <script src="/js/ace/mode-diff.js"></script>
    <script src="/js/ace/mode-django.js"></script>
    <script src="/js/ace/mode-dockerfile.js"></script>
    <script src="/js/ace/mode-dot.js"></script>
    <script src="/js/ace/mode-drools.js"></script>
    <script src="/js/ace/mode-edifact.js"></script>
    <script src="/js/ace/mode-eiffel.js"></script>
    <script src="/js/ace/mode-ejs.js"></script>
    <script src="/js/ace/mode-elixir.js"></script>
    <script src="/js/ace/mode-elm.js"></script>
    <script src="/js/ace/mode-erlang.js"></script>
    <script src="/js/ace/mode-forth.js"></script>
    <script src="/js/ace/mode-fortran.js"></script>
    <script src="/js/ace/mode-ftl.js"></script>
    <script src="/js/ace/mode-gcode.js"></script>
    <script src="/js/ace/mode-gherkin.js"></script>
    <script src="/js/ace/mode-gitignore.js"></script>
    <script src="/js/ace/mode-glsl.js"></script>
    <script src="/js/ace/mode-gobstones.js"></script>
    <script src="/js/ace/mode-golang.js"></script>
    <script src="/js/ace/mode-graphqlschema.js"></script>
    <script src="/js/ace/mode-groovy.js"></script>
    <script src="/js/ace/mode-haml.js"></script>
    <script src="/js/ace/mode-handlebars.js"></script>
    <script src="/js/ace/mode-haskell_cabal.js"></script>
    <script src="/js/ace/mode-haskell.js"></script>
    <script src="/js/ace/mode-haxe.js"></script>
    <script src="/js/ace/mode-hjson.js"></script>
    <script src="/js/ace/mode-html_elixir.js"></script>
    <script src="/js/ace/mode-html_ruby.js"></script>
    <script src="/js/ace/mode-html.js"></script>
    <script src="/js/ace/mode-ini.js"></script>
    <script src="/js/ace/mode-io.js"></script>
    <script src="/js/ace/mode-jack.js"></script>
    <script src="/js/ace/mode-jade.js"></script>
    <script src="/js/ace/mode-java.js"></script>
    <script src="/js/ace/mode-javascript.js"></script>
    <script src="/js/ace/mode-json.js"></script>
    <script src="/js/ace/mode-jsoniq.js"></script>
    <script src="/js/ace/mode-jsp.js"></script>
    <script src="/js/ace/mode-jssm.js"></script>
    <script src="/js/ace/mode-jsx.js"></script>
    <script src="/js/ace/mode-julia.js"></script>
    <script src="/js/ace/mode-kotlin.js"></script>
    <script src="/js/ace/mode-latex.js"></script>
    <script src="/js/ace/mode-less.js"></script>
    <script src="/js/ace/mode-liquid.js"></script>
    <script src="/js/ace/mode-lisp.js"></script>
    <script src="/js/ace/mode-livescript.js"></script>
    <script src="/js/ace/mode-logiql.js"></script>
    <script src="/js/ace/mode-lsl.js"></script>
    <script src="/js/ace/mode-lua.js"></script>
    <script src="/js/ace/mode-luapage.js"></script>
    <script src="/js/ace/mode-lucene.js"></script>
    <script src="/js/ace/mode-makefile.js"></script>
    <script src="/js/ace/mode-markdown.js"></script>
    <script src="/js/ace/mode-mask.js"></script>
    <script src="/js/ace/mode-matlab.js"></script>
    <script src="/js/ace/mode-maze.js"></script>
    <script src="/js/ace/mode-mel.js"></script>
    <script src="/js/ace/mode-mixal.js"></script>
    <script src="/js/ace/mode-mushcode.js"></script>
    <script src="/js/ace/mode-mysql.js"></script>
    <script src="/js/ace/mode-nix.js"></script>
    <script src="/js/ace/mode-nsis.js"></script>
    <script src="/js/ace/mode-objectivec.js"></script>
    <script src="/js/ace/mode-ocaml.js"></script>
    <script src="/js/ace/mode-pascal.js"></script>
    <script src="/js/ace/mode-perl.js"></script>
    <script src="/js/ace/mode-pgsql.js"></script>
    <script src="/js/ace/mode-php.js"></script>
    <script src="/js/ace/mode-pig.js"></script>
    <script src="/js/ace/mode-plain_text.js"></script>
    <script src="/js/ace/mode-powershell.js"></script>
    <script src="/js/ace/mode-praat.js"></script>
    <script src="/js/ace/mode-prolog.js"></script>
    <script src="/js/ace/mode-properties.js"></script>
    <script src="/js/ace/mode-protobuf.js"></script>
    <script src="/js/ace/mode-python.js"></script>
    <script src="/js/ace/mode-r.js"></script>
    <script src="/js/ace/mode-razor.js"></script>
    <script src="/js/ace/mode-rdoc.js"></script>
    <script src="/js/ace/mode-red.js"></script>
    <script src="/js/ace/mode-redshift.js"></script>
    <script src="/js/ace/mode-rhtml.js"></script>
    <script src="/js/ace/mode-rst.js"></script>
    <script src="/js/ace/mode-ruby.js"></script>
    <script src="/js/ace/mode-rust.js"></script>
    <script src="/js/ace/mode-sass.js"></script>
    <script src="/js/ace/mode-scad.js"></script>
    <script src="/js/ace/mode-scala.js"></script>
    <script src="/js/ace/mode-scheme.js"></script>
    <script src="/js/ace/mode-scss.js"></script>
    <script src="/js/ace/mode-sh.js"></script>
    <script src="/js/ace/mode-sjs.js"></script>
    <script src="/js/ace/mode-smarty.js"></script>
    <script src="/js/ace/mode-snippets.js"></script>
    <script src="/js/ace/mode-soy_template.js"></script>
    <script src="/js/ace/mode-space.js"></script>
    <script src="/js/ace/mode-sparql.js"></script>
    <script src="/js/ace/mode-sql.js"></script>
    <script src="/js/ace/mode-sqlserver.js"></script>
    <script src="/js/ace/mode-stylus.js"></script>
    <script src="/js/ace/mode-svg.js"></script>
    <script src="/js/ace/mode-swift.js"></script>
    <script src="/js/ace/mode-tcl.js"></script>
    <script src="/js/ace/mode-tex.js"></script>
    <script src="/js/ace/mode-text.js"></script>
    <script src="/js/ace/mode-textile.js"></script>
    <script src="/js/ace/mode-toml.js"></script>
    <script src="/js/ace/mode-tsx.js"></script>
    <script src="/js/ace/mode-turtle.js"></script>
    <script src="/js/ace/mode-twig.js"></script>
    <script src="/js/ace/mode-typescript.js"></script>
    <script src="/js/ace/mode-vala.js"></script>
    <script src="/js/ace/mode-vbscript.js"></script>
    <script src="/js/ace/mode-velocity.js"></script>
    <script src="/js/ace/mode-verilog.js"></script>
    <script src="/js/ace/mode-vhdl.js"></script>
    <script src="/js/ace/mode-wollok.js"></script>
    <script src="/js/ace/mode-xml.js"></script>
    <script src="/js/ace/mode-xquery.js"></script>
    <script src="/js/ace/mode-yaml.js"></script>
    <script src="/js/ace/snippets/abap.js"></script>
    <script src="/js/ace/snippets/abc.js"></script>
    <script src="/js/ace/snippets/actionscript.js"></script>
    <script src="/js/ace/snippets/ada.js"></script>
    <script src="/js/ace/snippets/apache_conf.js"></script>
    <script src="/js/ace/snippets/applescript.js"></script>
    <script src="/js/ace/snippets/asciidoc.js"></script>
    <script src="/js/ace/snippets/assembly_x86.js"></script>
    <script src="/js/ace/snippets/autohotkey.js"></script>
    <script src="/js/ace/snippets/batchfile.js"></script>
    <script src="/js/ace/snippets/bro.js"></script>
    <script src="/js/ace/snippets/c_cpp.js"></script>
    <script src="/js/ace/snippets/c9search.js"></script>
    <script src="/js/ace/snippets/cirru.js"></script>
    <script src="/js/ace/snippets/clojure.js"></script>
    <script src="/js/ace/snippets/cobol.js"></script>
    <script src="/js/ace/snippets/coffee.js"></script>
    <script src="/js/ace/snippets/coldfusion.js"></script>
    <script src="/js/ace/snippets/csharp.js"></script>
    <script src="/js/ace/snippets/csound_document.js"></script>
    <script src="/js/ace/snippets/csound_orchestra.js"></script>
    <script src="/js/ace/snippets/csound_score.js"></script>
    <script src="/js/ace/snippets/csp.js"></script>
    <script src="/js/ace/snippets/css.js"></script>
    <script src="/js/ace/snippets/curly.js"></script>
    <script src="/js/ace/snippets/d.js"></script>
    <script src="/js/ace/snippets/dart.js"></script>
    <script src="/js/ace/snippets/diff.js"></script>
    <script src="/js/ace/snippets/django.js"></script>
    <script src="/js/ace/snippets/dockerfile.js"></script>
    <script src="/js/ace/snippets/dot.js"></script>
    <script src="/js/ace/snippets/drools.js"></script>
    <script src="/js/ace/snippets/edifact.js"></script>
    <script src="/js/ace/snippets/eiffel.js"></script>
    <script src="/js/ace/snippets/ejs.js"></script>
    <script src="/js/ace/snippets/elixir.js"></script>
    <script src="/js/ace/snippets/elm.js"></script>
    <script src="/js/ace/snippets/erlang.js"></script>
    <script src="/js/ace/snippets/forth.js"></script>
    <script src="/js/ace/snippets/fortran.js"></script>
    <script src="/js/ace/snippets/ftl.js"></script>
    <script src="/js/ace/snippets/gcode.js"></script>
    <script src="/js/ace/snippets/gherkin.js"></script>
    <script src="/js/ace/snippets/gitignore.js"></script>
    <script src="/js/ace/snippets/glsl.js"></script>
    <script src="/js/ace/snippets/gobstones.js"></script>
    <script src="/js/ace/snippets/golang.js"></script>
    <script src="/js/ace/snippets/graphqlschema.js"></script>
    <script src="/js/ace/snippets/groovy.js"></script>
    <script src="/js/ace/snippets/haml.js"></script>
    <script src="/js/ace/snippets/handlebars.js"></script>
    <script src="/js/ace/snippets/haskell_cabal.js"></script>
    <script src="/js/ace/snippets/haskell.js"></script>
    <script src="/js/ace/snippets/haxe.js"></script>
    <script src="/js/ace/snippets/hjson.js"></script>
    <script src="/js/ace/snippets/html_elixir.js"></script>
    <script src="/js/ace/snippets/html_ruby.js"></script>
    <script src="/js/ace/snippets/html.js"></script>
    <script src="/js/ace/snippets/ini.js"></script>
    <script src="/js/ace/snippets/io.js"></script>
    <script src="/js/ace/snippets/jack.js"></script>
    <script src="/js/ace/snippets/jade.js"></script>
    <script src="/js/ace/snippets/java.js"></script>
    <script src="/js/ace/snippets/javascript.js"></script>
    <script src="/js/ace/snippets/json.js"></script>
    <script src="/js/ace/snippets/jsoniq.js"></script>
    <script src="/js/ace/snippets/jsp.js"></script>
    <script src="/js/ace/snippets/jssm.js"></script>
    <script src="/js/ace/snippets/jsx.js"></script>
    <script src="/js/ace/snippets/julia.js"></script>
    <script src="/js/ace/snippets/kotlin.js"></script>
    <script src="/js/ace/snippets/latex.js"></script>
    <script src="/js/ace/snippets/less.js"></script>
    <script src="/js/ace/snippets/liquid.js"></script>
    <script src="/js/ace/snippets/lisp.js"></script>
    <script src="/js/ace/snippets/livescript.js"></script>
    <script src="/js/ace/snippets/logiql.js"></script>
    <script src="/js/ace/snippets/lsl.js"></script>
    <script src="/js/ace/snippets/lua.js"></script>
    <script src="/js/ace/snippets/luapage.js"></script>
    <script src="/js/ace/snippets/lucene.js"></script>
    <script src="/js/ace/snippets/makefile.js"></script>
    <script src="/js/ace/snippets/markdown.js"></script>
    <script src="/js/ace/snippets/mask.js"></script>
    <script src="/js/ace/snippets/matlab.js"></script>
    <script src="/js/ace/snippets/maze.js"></script>
    <script src="/js/ace/snippets/mel.js"></script>
    <script src="/js/ace/snippets/mixal.js"></script>
    <script src="/js/ace/snippets/mushcode.js"></script>
    <script src="/js/ace/snippets/mysql.js"></script>
    <script src="/js/ace/snippets/nix.js"></script>
    <script src="/js/ace/snippets/nsis.js"></script>
    <script src="/js/ace/snippets/objectivec.js"></script>
    <script src="/js/ace/snippets/ocaml.js"></script>
    <script src="/js/ace/snippets/pascal.js"></script>
    <script src="/js/ace/snippets/perl.js"></script>
    <script src="/js/ace/snippets/pgsql.js"></script>
    <script src="/js/ace/snippets/php.js"></script>
    <script src="/js/ace/snippets/pig.js"></script>
    <script src="/js/ace/snippets/plain_text.js"></script>
    <script src="/js/ace/snippets/powershell.js"></script>
    <script src="/js/ace/snippets/praat.js"></script>
    <script src="/js/ace/snippets/prolog.js"></script>
    <script src="/js/ace/snippets/properties.js"></script>
    <script src="/js/ace/snippets/protobuf.js"></script>
    <script src="/js/ace/snippets/python.js"></script>
    <script src="/js/ace/snippets/r.js"></script>
    <script src="/js/ace/snippets/razor.js"></script>
    <script src="/js/ace/snippets/rdoc.js"></script>
    <script src="/js/ace/snippets/red.js"></script>
    <script src="/js/ace/snippets/redshift.js"></script>
    <script src="/js/ace/snippets/rhtml.js"></script>
    <script src="/js/ace/snippets/rst.js"></script>
    <script src="/js/ace/snippets/ruby.js"></script>
    <script src="/js/ace/snippets/rust.js"></script>
    <script src="/js/ace/snippets/sass.js"></script>
    <script src="/js/ace/snippets/scad.js"></script>
    <script src="/js/ace/snippets/scala.js"></script>
    <script src="/js/ace/snippets/scheme.js"></script>
    <script src="/js/ace/snippets/scss.js"></script>
    <script src="/js/ace/snippets/sh.js"></script>
    <script src="/js/ace/snippets/sjs.js"></script>
    <script src="/js/ace/snippets/smarty.js"></script>
    <script src="/js/ace/snippets/snippets.js"></script>
    <script src="/js/ace/snippets/soy_template.js"></script>
    <script src="/js/ace/snippets/space.js"></script>
    <script src="/js/ace/snippets/sparql.js"></script>
    <script src="/js/ace/snippets/sql.js"></script>
    <script src="/js/ace/snippets/sqlserver.js"></script>
    <script src="/js/ace/snippets/stylus.js"></script>
    <script src="/js/ace/snippets/svg.js"></script>
    <script src="/js/ace/snippets/swift.js"></script>
    <script src="/js/ace/snippets/tcl.js"></script>
    <script src="/js/ace/snippets/tex.js"></script>
    <script src="/js/ace/snippets/text.js"></script>
    <script src="/js/ace/snippets/textile.js"></script>
    <script src="/js/ace/snippets/toml.js"></script>
    <script src="/js/ace/snippets/tsx.js"></script>
    <script src="/js/ace/snippets/turtle.js"></script>
    <script src="/js/ace/snippets/twig.js"></script>
    <script src="/js/ace/snippets/typescript.js"></script>
    <script src="/js/ace/snippets/vala.js"></script>
    <script src="/js/ace/snippets/vbscript.js"></script>
    <script src="/js/ace/snippets/velocity.js"></script>
    <script src="/js/ace/snippets/verilog.js"></script>
    <script src="/js/ace/snippets/vhdl.js"></script>
    <script src="/js/ace/snippets/wollok.js"></script>
    <script src="/js/ace/snippets/xml.js"></script>
    <script src="/js/ace/snippets/xquery.js"></script>
    <script src="/js/ace/snippets/yaml.js"></script>
    <script src="/js/ace/theme-ambiance.js"></script>
    <script src="/js/ace/theme-chaos.js"></script>
    <script src="/js/ace/theme-chrome.js"></script>
    <script src="/js/ace/theme-clouds_midnight.js"></script>
    <script src="/js/ace/theme-clouds.js"></script>
    <script src="/js/ace/theme-cobalt.js"></script>
    <script src="/js/ace/theme-crimson_editor.js"></script>
    <script src="/js/ace/theme-dawn.js"></script>
    <script src="/js/ace/theme-dracula.js"></script>
    <script src="/js/ace/theme-dreamweaver.js"></script>
    <script src="/js/ace/theme-eclipse.js"></script>
    <script src="/js/ace/theme-github.js"></script>
    <script src="/js/ace/theme-gob.js"></script>
    <script src="/js/ace/theme-gruvbox.js"></script>
    <script src="/js/ace/theme-idle_fingers.js"></script>
    <script src="/js/ace/theme-iplastic.js"></script>
    <script src="/js/ace/theme-katzenmilch.js"></script>
    <script src="/js/ace/theme-kr_theme.js"></script>
    <script src="/js/ace/theme-kuroir.js"></script>
    <script src="/js/ace/theme-merbivore_soft.js"></script>
    <script src="/js/ace/theme-merbivore.js"></script>
    <script src="/js/ace/theme-mono_industrial.js"></script>
    <script src="/js/ace/theme-monokai.js"></script>
    <script src="/js/ace/theme-pastel_on_dark.js"></script>
    <script src="/js/ace/theme-solarized_dark.js"></script>
    <script src="/js/ace/theme-solarized_light.js"></script>
    <script src="/js/ace/theme-sqlserver.js"></script>
    <script src="/js/ace/theme-terminal.js"></script>
    <script src="/js/ace/theme-textmate.js"></script>
    <script src="/js/ace/theme-tomorrow_night_blue.js"></script>
    <script src="/js/ace/theme-tomorrow_night_bright.js"></script>
    <script src="/js/ace/theme-tomorrow_night_eighties.js"></script>
    <script src="/js/ace/theme-tomorrow_night.js"></script>
    <script src="/js/ace/theme-tomorrow.js"></script>
    <script src="/js/ace/theme-twilight.js"></script>
    <script src="/js/ace/theme-vibrant_ink.js"></script>
    <script src="/js/ace/theme-xcode.js"></script>
    <script src="/js/ace/worker-coffee.js"></script>
    <script src="/js/ace/worker-css.js"></script>
    <script src="/js/ace/worker-html.js"></script>
    <script src="/js/ace/worker-javascript.js"></script>
    <script src="/js/ace/worker-json.js"></script>
    <script src="/js/ace/worker-lua.js"></script>
    <script src="/js/ace/worker-php.js"></script>
    <script src="/js/ace/worker-xml.js"></script>
    <script src="/js/ace/worker-xquery.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
